<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyCdHx7O6Dnqp3LwzAKcTbegvDE9SAuxxr4",
    authDomain: "proyecto-ii-fase.firebaseapp.com",
    projectId: "proyecto-ii-fase",
    storageBucket: "proyecto-ii-fase.appspot.com",
    messagingSenderId: "710851672781",
    appId: "1:710851672781:web:1464bc131e468d65d3c784",
    measurementId: "G-22EQ6HJD7H"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

<body ng-app="myapp">
  <img src="">
	<div>
		<div ng-controller="miControlador">
			<form name="formularioRegistro" ng-submit="validar()" novalidate>
				
				<div ng-show="mostrarMensajeExito">
					StarSale
          <p>
          <dd> Registro de articulos
				</div>

        <p>

				<input type="text" placeholder="Nombre" name="nombre" ng-model="persona.nombre" required/>
				<span ng-show="nombreInvalid"><br/>Introduzca el nombre del articulo</span>
				<br/>
		
				<input type="text" placeholder="Apellido" name="apellido" ng-model="persona.apellido" required/>
				<span ng-show="apellidoInvalid"><br/>Introduzca su nombre completo</span>
				<br/>
				
				<input type="email" placeholder="Email" name="email" ng-model="persona.email" required/>
				<span ng-show="emailInvalid"><br/>Introduzca un email válido</span>
				<br/>
				
				<select name="medio" ng-model="persona.medio" ng-options="obj.value as obj.label for obj in persona.canales" required>
					<option value="">Facebook</option>
          <option value="">Web</option>
				</select>
				<span ng-show="medioInvalid"><br/>Indica donde has oído hablar de nosostros</span>
				<br/>

				<input type="submit" value="Registrar"/>

			</form>
		</div>
	</div>
</body>

<style>
  body, input, select {
		font: normal 1em Helvetica;
	}

	input:not([type='checkbox']), select {
		width: 350px;
	}

	input, select {
		padding: 5px;
		margin-top: 12px;
	}

	input[name='email'].ng-dirty.ng-invalid-email {
		color: red;
	}
	
	input[name='email'].ng-dirty.ng-valid-email {
		color: green;
	}
	
	form span, .error {
		color: red;
	}
</style>